main {
    box-sizing: border-box;
}

section {
    float: auto;
    justify-content: center;
    display: inline;
}

header{
    margin: 10px;
}

h1 {
    color: #D8DBE2;
    font-size: 2em;
    padding: 5px;
}

h2 {
    color: #DAA49A;
    padding: 5px 5px 5px 20px;
    font-size: 1.5em;
}

h3 {
    color: #58A4B0;
    padding: 5px 5px 5px 20px;
}

p {
    color: #A9BCD0;
    text-align: center;
    padding: 5px 5px 20px 5px;
}

body {
    width: 480px;
}

img {
    width: 440px;
    display: inline;
    padding-left: 20px;
}

body {
    background-color: #373F51;
}

@media only screen and (min-width: 960px) {
    main {
        width: 960px;
        box-sizing: border-box;
    }

    img {
        width: 30%;
        display: inline;
    }

    h2 {
        color: #DAA49A;
        padding: 5px 5px 5px 20px;
        font-size: 1.5em;
    }
    
    h3 {
        color: #58A4B0;
        padding: 5px 5px 5px 20px;
    }
    
    p {
        color: #A9BCD0;
        padding: 5px 5px 20px 5px;
    }
}
